@import url('https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css');

/* Personalizações extras */
body {
  background-color: #fefefe;
}

h2 {
  font-weight: 600;
}

input.filtro-coluna {
  margin-top: 6px;
}

