@import url('https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css');

/* Personalizações extras */
/* body {
  background-color: #fefefe;
}

h2 {
  font-weight: 600;
}

input.filtro-coluna {
  margin-top: 6px;
} */

table thead tr th {
  background-color: #2d91ee5e !important;
  color: rgb(1, 1, 1) !important;
  font-weight: 900 !important;
 }
